<header class="header">
  <div class="header-inner">
    <div class="header-left">
      <button z-button zType="ghost" zSize="icon-sm" (click)="sidebarService.toggle()">
        <z-icon zType="panel-left" class="size-4" />
      </button>
      <div class="breadcrumb">
        <z-breadcrumb>
          @for (bc of breadcrumbService.breadcrumbs(); track $index; let isFirst = $first) {
            <z-breadcrumb-item
              [routerLink]="isFirst ? [] : [bc.url]"
              [class.pointer-events-none]="isFirst"
              [class.opacity-70]="isFirst"
            >
              {{ bc.label }}
            </z-breadcrumb-item>
          }
        </z-breadcrumb>
      </div>
    </div>

    <div class="header-right">
      <button z-button zType="ghost" zSize="icon-sm" (click)="toggleTheme()">
        <z-icon [zType]="themeService.isDarkMode() ? 'sun' : 'moon'" class="size-4" />
      </button>
    </div>
  </div>
</header>
