<header class="header">
  <div class="header-inner">
    <div class="header-left">
      <button z-button zType="ghost" zSize="icon-sm" (click)="sidebarService.toggle()">
        <z-icon zType="panel-left" class="size-4" />
      </button>
      <div class="breadcrumb">
        <z-breadcrumb>
          @for (bc of breadcrumbService.breadcrumbs(); track $index; let isFirst = $first) {
            <z-breadcrumb-item
              [routerLink]="isFirst ? [] : [bc.url]"
              [class.pointer-events-none]="isFirst"
              [class.opacity-70]="isFirst"
            >
              {{ bc.label }}
            </z-breadcrumb-item>
          }
        </z-breadcrumb>
      </div>
    </div>

    <div class="header-right">
      <button z-button zType="ghost" zSize="icon-sm" class="relative">
        <z-icon zType="bell" class="size-4" />
        <span
          class="absolute top-1.5 right-1.5 size-2 bg-primary rounded-full border-2 border-card"
        ></span>
      </button>
      <button z-button zType="ghost" zSize="icon-sm">
        <z-icon zType="sun-moon" class="size-4" />
      </button>
    </div>
  </div>
</header>
